#Digite sua região do s3
S3_REGION=

#Digite o nome do seu bucket s3
S3_BUCKET=

#Digite a url da api do seu s3
S3_API_URL=

#Digite a url de acesso do seu s3
NEXT_PUBLIC_S3_WEB_ACCESS=

#Digite sua key do seu bucket s3
S3_KEY_ID=

#Digite a sua secret do seu bucket s3
S3_SECRET_KEY=

#Digite o tamanho maximo de images em bits o valor padrão é 921600
NEXT_PUBLIC_IMAGE_UPLOADER_MAX_SIZE=

#Digite uma chave aleatoria para seu secret jwt
JWT_SECRET_KEY=

#Digite a expiração em segundos do Token o padrão é 86400
LOGIN_EXPIRATION_SECONDS=

#Digite a expiração em string o padrão é 1d
LOGIN_EXPIRATION_STRING=

#Digite o nome do cookie o padrão é loginSession
LOGIN_COOKIE_NAME=

#Digite 0 ou 1 para a autorização de login o padrão é 1
ALLOW_LOGIN=

#Digite um nome de usuário para o usuário padrão
DEFAULT_USERNAME=

#Digite uma senha padrão para o seu usuário
DEFAULT_PASSWORD=

#Digite um email padrão para seu usuário
DEFAULT_EMAIL=
